<div class="sidebar_container">
  <ul class="danphe_ul">
    <a routerLink="home">
      <li class="danphe_links first_link">
        <span><img src="../../assets/house.png" alt="" class="icon" /></span
        >Home
      </li>
    </a>
    <a routerLink="about">
      <li class="danphe_links">
        <span
          ><img src="../../assets/information.png" alt="" class="icon" /></span
        >About
      </li>
    </a>
    <a routerLink="pharmacy">
      <li class="danphe_links">
        <span>
          <img src="../../assets/drugstore.png" alt="" class="icon" /> </span
        >Pharmacy
      </li>
    </a>
    <a routerLink="doctor">
      <li class="danphe_links">
        <span> <img src="../../assets/doctor.png" alt="" class="icon" /> </span
        >Doctor
      </li>
    </a>
    <a routerLink="radiolody">
      <li class="danphe_links">
        <span> <img src="../../assets/ct-scan.png" alt="" class="icon" /> </span
        >Radiology
      </li>
    </a>
    <a routerLink="icu">
      <li class="danphe_links">
        <span>
          <img src="../../assets/emergency.png" alt="" class="icon" /> </span
        >ICU
      </li>
    </a>
    <a routerLink="ward">
      <li class="danphe_links">
        <span> <img src="../../assets/bed.png" alt="" class="icon" /> </span
        >Ward
      </li>
    </a>
    <a routerLink="ventillator">
      <li class="danphe_links">
        <span>
          <img src="../../assets/respirator.png" alt="" class="icon" /> </span
        >Ventillator
      </li>
    </a>
    <a routerLink="utilities">
      <li class="danphe_links">
        <span>
          <img
            src="../../assets/first-aid-kit.png"
            alt="icon"
            class="icon"
          /> </span
        >Utilities
      </li>
    </a>
    <a routerLink="reports">
      <li class="danphe_links">
        <span> <img src="../../assets/id-card.png" alt="" class="icon" /> </span
        >Reports
      </li>
    </a>
    <a routerLink="lab">
      <li class="danphe_links">
        <span>
          <img src="../../assets/blood-test.png" alt="" class="icon" /> </span
        >Labrotary
      </li>
    </a>
  </ul>
</div>
